<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
</head>
<body>
    <div>
            <% for( let i = 0; i<products.length; i++)  {  %>
          <div> <%= products[i].id  %> 
        <%=  products[i].product_name %>
           <%= products[i].price %>   

           <a href="/product/<%=products[i].id %>">Edit</a> 
           <a href="/product/delete/<%=products[i].id %>">Delete</a>
        
              <% } %>
              </div>
     
   <!-- product.forEach(  (product)=>{product.product_name} ) -->

     </div>

</body>
</html>